
@namespace "library://ns.adobe.com/flex/spark";


global {
    fontFamily: Arial;
    color: #ffffff;
}

ViewNavigatorApplication {
    skinClass: ClassReference("skins.spark.mobile.BGApplicationSkin");
    backgroundColor: #02baff;
}

ActionBar {
    chromeColor: #234793;
    paddingTop: 10;
    paddingBottom: 10;
    paddingLeft: 0;
    paddingRight: 10;
}

ActionBar #titleDisplay {
    color: #FFFFFF;
    fontSize: 26;
    fontWeight: bold;
    fontfamily: Arial;
}

Button {
    fontWeight: "bold";
    skinClass: ClassReference("skins.spark.mobile.ButtonDefaultSkin");
    fontSize: 32;
    iconPlacement: right;
    color: #001f60;
}

TextArea {
     contentBackgroundColor: #ffffff;
     contentBackgroundAlpha: 0.2;
     borderVisible: false;
     borderColor: #f2fafd;
     skinClass: ClassReference("skins.spark.mobile.TextAreaSkin");
 }

TextInput {
    contentBackgroundColor: #ffffff;
    contentBackgroundAlpha: 0.2;
    borderVisible: false;
    borderColor: #f2fafd;
    skinClass: ClassReference("skins.spark.mobile.TextInputSkin");
}

.buttonOrange {
    color: #ffffff;
    skinClass: ClassReference("skins.spark.mobile.ButtonOrangeSkin");
}

View {
    backgroundAlpha: 0;
}

.h1 {
    fontSize: 28;
    color: white;
}