
@namespace "library://ns.adobe.com/flex/spark";


global {
    fontFamily: Arial;
    color: #ffffff;
}

ViewNavigatorApplication {
    skinClass: ClassReference("skins.spark.mobile.BGApplicationSkin");
    backgroundColor: #02baff;
}

ActionBar {
    chromeColor: #234793;
    paddingTop: 10;
    paddingBottom: 10;
    paddingLeft: 0;
    paddingRight: 10;
}

ActionBar #titleDisplay {
    color: #FFFFFF;
    fontSize: 26;
    fontWeight: bold;
    fontfamily: Arial;
}

Button {
    fontWeight: "bold";
    skinClass: ClassReference("skins.spark.mobile.ButtonDefaultSkin");
    fontSize: 32;
    iconPlacement: right;
    color: #001f60;
}

.buttonOrange {
    color: #ffffff;
    skinClass: ClassReference("skins.spark.mobile.ButtonOrangeSkin");
}

View {
    backgroundAlpha: 0;
}